// Color 

// scss Змінна
$color-green: #6A983C;
$color-black: #151515;
$color-grey: #F9F9F9;
$color-grey1: #F5F5F5;
$color-grey2: #A9A9A9;
$color-white:  #FFFFFF;
$color-white1:#F1F1F1;
$color-green1: #92C064;
$color-button: #46760A;




// css Змінна
:root {
    --color-black: #000000;
    --color-grey: #F4F4F4;
    // var(--color-grey)
}