@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');

$main-fonts: 'Poppins', sans-serif;
$sub-fonts: 'Open Sans', sans-serif;

.title {
    font-family: $main-fonts;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;

    @media (max-width: $tablet) {
        font-size: 33px;
        line-height: 50px;
    }
}

.h3{
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: $color-black;
}

.h4{
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $color-black;
}
.h5 {
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $color-black;
}

.h6{
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $color-green;
}
.h7 {
    font-family: $sub-fonts;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-black;
    }


.h8{
        font-family: $sub-fonts;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $color-black;
    }
.h9 {
    font-family: $sub-fonts;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
}
