.home {
    background-color: blue;
    position: relative;

}

.home-page {
    &__modal-container {
        
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        visibility: hidden;

    }

    &__modal-text {
        margin-bottom: 16px;
    }

    &__modal {
        transform: translateX(-200%);
        max-width: 500px;
        padding: 30px;
        border-radius: 20px;
        
        z-index: 100;
        position: relative;
        box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.75);
        transition: all 1s;
        opacity: 0;

        // &::after {
        //     content: '';
        //     width: 100vw;
        //     height: 100vh;
        //     background: black;
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }
    }

    .is-visible {
        transition: all 1s;
        transform: translate(-50%, -50%);
        visibility: visible;

        .home-page__modal {
            transform: translateX(0);
            opacity: 1;
        }
    }

    &__modal-close {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;

       
    }
}




.component {

    &__container{
        padding: 64px 45px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 32px;
    }

    &__list-name{
        padding-bottom: 16px;
    }


    &__list-row{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding-bottom: 48px;

    }

    &__list-row-item{
        cursor: pointer;

        &:hover{
            text-decoration-line: underline;
            color: $color-green;
        }

    }
    

    &__list-button{
        background: $color-grey1;
        border-radius: 12px;

        &:hover{
            background: $color-green;
            color: $color-white;
        }
    }

    &__card{
        background: url('../img/Group.png');
        width: 419px;
        height: 280px;
        border-radius: 12px;
        background-color: $color-grey;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 48px 0px 32px 33px;
    }


    &__card-button{
        margin-top: 80px;
        width: 163px;
        height: 47px;
        border: 2px solid $color-green1;
        border-radius: 12px;
        background-color: transparent;
        
        &:hover{
            transform: scale(1.1);
            transition: .2s;
        }


    }
}


.products{
    &__container{
        padding: 64px 45px;
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__list-name{
        padding-bottom: 16px;
    }


    &__list-row{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding-bottom: 48px;

    }

    &__list-row-item{
        cursor: pointer;

        &:hover{
            text-decoration-line: underline;
            color: $color-green;
        }

    }
    &__list-button{
        background: $color-grey1;
        border-radius: 12px;

        &:hover{
            background: $color-green;
            color: $color-white;
        }
    }

    &__card-img{
        width: 237px;
        height: 180px;
        padding-bottom: 16px;
    }
     &__card {
        padding: 16px;
        width: 269px;
        height: 323px;
        background: $color-white;
        border: 1px solid #D1D1D1;
        border-radius: 12px;
     }

     &__card-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 65px;
     }
     &__card-title{
        padding-bottom: 4px;
     }
     &__card-name{
        padding-bottom: 16px;
     }

     &__card-price-button{
        width: 90px;
        height: 36px;
        background: $color-green;
        border: 2px solid $color-button;
        border-radius: 12px;
        color: $color-white;
     }

     
     



}