.button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $color-black;
    width: 179px;
    height: 48px;
    cursor: pointer;
    
    transition: background-color 0.5s;

    

    &--icon {
        &::after {
            content: '>';
            width: 16px;
            height: 20px;
            font-size: 22px;
            padding-left: 6px;  
         
        }
    }
    
    &--icons {
        &::after {
            content: '>';
            width: 16px;
            height: 20px;
            font-size: 22px;
            padding-left: 6px; 
            color: $color-green1; 
         
        }
    }
}