.menu {

    
   
    


  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 39px;
    background: $color-grey;
  }

  &__item{
    cursor: pointer;
    
  }

  



}